<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>XIMOD Architect</string>
    
    <key>CFBundleDisplayName</key>
    <string>XIMOD Architect</string>
    
    <key>CFBundleIdentifier</key>
    <string>com.ximod.architect</string>
    
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    
    <key>CFBundleExecutable</key>
    <string>ximod-architect</string>
    
    <key>CFBundleIconFile</key>
    <string>ximod-architect</string>
    
    <key>CFBundleIconName</key>
    <string>ximod-architect</string>
    
    <key>LSMinimumSystemVersion</key>
    <string>10.13</string>
    
    <key>NSHighResolutionCapable</key>
    <true/>
    
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>FOMOD Configuration</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.xml</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>xml</string>
            </array>
        </dict>
    </array>
    
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024 XIMOD Team. All rights reserved.</string>
    
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
</dict>
</plist>
